{
  "printWidth": 100,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "trailingComma": "all",
  "semi": true,
  "jsxSingleQuote": false,
  "singleQuote": true,
  "tabWidth": 2,
  "endOfLine": "lf",
  "overrides": []
}
